{% load static %}
<!--carousel-->
<div class="container-fluid m-2 p-3">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      {% for x in data  %} 
      <div class="carousel-item {% if forloop.first %} active {% endif %}" data-bs-interval="10000">     
        <img src="{{ x.photo.url }}" style="height: 800px; width: 1600px;" alt="Picture">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ x.title }}</h5>
          <p>{{ x.details }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  <main id="main">
    <!--Marquee start-->
    <div class="container">
      {% for x in notice_data %}
              <p class="marquee"><marquee>{{ x.notice_title }}</marquee></p>
      {% endfor %}
    </div>
    <!--Marquee end-->
 
    <!--Notice start-->
    <div class="container">
      <div><h3 class="text-center">NOTICE</h3></div>
      <div class="row">
        {% for i in notice_data %}
        <div class="col">
          <p class="fst-bold">
            {{ i.notice_title }}
          </p>
          <img src="{{ i.notice_image.url }}" class="img-fluid" alt="notice_image">
          <ul>
            <li><i class="bi bi-check-circle"></i>{{ i.notice_details }}</li>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
    <!--Notice end-->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ student_count }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ course_count }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ event_count }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ trainer_count }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>বাংলাদেশ গ্রাম ডাক্তার কল্যাণ সমিতি</h3>
              <p>
                ১৬/১, পাদ্রি মিশন রোড, আলিয়া মাদ্রাসা মোড়, ময়মনসিংহ। মোবাইল: ০১৭২৫ ১৩৫৬১৫
              </p>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>R.M.P</h4>
                    <p>Rural Medical Practioner. 3 months durations</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>LM&F</h4>
                    <p>Local Medical & Family planning. 6 months durations</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Dream Health & Technology</h4>
                    <p>Upcoming programs</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% for x in course_data%}
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #ffbb2c;"></i>
              <h3><a href="">{{ x.course_name}}</a></h3>
            </div>
          </div>
          {% endfor %}
         </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Courses</h2>
          <p>Popular Courses</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% for x in course_data %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{ x.course_image.url }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>{{ x.course_name }}</h4>
                  <p class="price">{{ x.course_credit }} credits</p>
                </div>

                <h3><a href="course-details.html">{{ x.course_name }}</a></h3>
                <p>{{x.description}}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{ x.teacher_image.url }}" class="img-fluid" alt="">
                    <span>{{ x.teacher_name }}</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;65
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->
          {% endfor %}
        </div>
      </div>
    </section><!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Committee</h2>
          <p>Official Persons</p>
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% for x in trainer_data %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{ x.teacher_image.url }}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>{{ x.teacher_name }}</h4>
                <span>{{ x.teacher_details}}</span>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}          
        </div>
      </div>
    </section><!-- End Trainers Section -->

    <!-- ======= Video Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Videos</h2>
          <p>Our events</p>
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% for x in my_video %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <video width='400' controls>
                <source src='{{ MEDIA_URL }}{{ x.video }}' type='video/mp4'>
                Your browser does not support the video tag.
                </video>
              <!-- <img src="{{ x.video.url }}" class="img-fluid" alt=""> -->
              <div class="member-content">
                <h4>{{ x.title }}</h4>
                <span>{{ x.teacher_details}}</span>
                <p>
                  {{x.details }}
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}   
        </div>   
      </div>
    </section><!-- End Video Section -->

  </main><!-- End #main -->
 