{% extends "master.html" %}
{% block content %}
{% include 'header.html' %}
<div class="container">
	<div class="row" style="margin-top: 80px; ">
		<h3 class="card-title text-center" style="margin-bottom: 50px; font-family: Agbalumo;">Login</h3>
	  <div class="col-5 mx-auto border" style="padding: 30px;">

		{% for message in messages%}
		<div class="alert alert-success" role="alert" style="padding-bottom: 0px;">
		  <p>{{message}}</p>
		</div>
		
		{% endfor%}
		
		<form action="login" method="POST">
		  {% csrf_token %}
			<div class="mb-3">
			  <label for="exampleInputEmail1" class="form-label">Email address</label>
			  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
			  <div id="emailHelp" class="form-text">Use valid email !</div>
			</div>

			<div class="mb-3">
			  <label for="exampleInputPassword1" class="form-label">Password</label>
			  <input type="password" class="form-control" id="exampleInputPassword1" name="password">
			</div>

			<div class="mb-3">
			  <select class="form-select" aria-label="Default select example" name="utype">
				<option value="m">Member</option>
				<option value="s">Student</option>
			  </select>
			</div>

			<div class="mb-3 form-check">
			  <input type="checkbox" class="form-check-input" id="exampleCheck1">
			  <label class="form-check-label" for="exampleCheck1">Check me out</label>
			  <div id="emailHelp" class="form-text text-end">No account ! <a href="{% url 'signup' %}" style="font-family: Agbalumo;">Signup</a></div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		  </form>
	  </div>
	  
	</div>
</div>
{% include 'footer.html' %}
{% endblock %}
