{% extends 'master.html' %}

{% block title %}TEACHER{% endblock title %}

{% block content %}
    {% include 'header.html' %}



    <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
          <div class="container">
            <h2>Teachers</h2>
          </div>
        </div><!-- End Breadcrumbs -->
    <!--
        <ul>
          {% for x in teacher %}
              <li>{{ x.teacher_name }} {{ x.teacher_image }}</li>
              <li><a href="details/{{ x.id }}">{{ x.teacher_name }} {{ x.teacher_details}}</a></li>
              <img src="/static/assets/img/{{ x.teacher_image }}" alt="teacher_image">
          {% endfor %}
        </ul>
      -->     
        <!-- ======= Trainers Section ======= -->
        <section id="trainers" class="trainers">
          <div class="container" data-aos="fade-up">
      
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
              {% for x in teacher %}
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{{ x.teacher_image.url }}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4><a href="details/{{ x.id }}">{{ x.teacher_name }}</a></h4>
                    <span>Web Development</span>
                    <p>
                      {{ x.teacher_details}}
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
<!--
              <div class="row">
                {% for x in teacher %}
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="{{ x.teacher_image.url }}">
                      <img src="{{ x.teacher_image.url }}" alt="Lights" style="width:100%">
                      <div class="caption">
                        <p>{{ x.teacher_name }}</p>
                      </div>
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
-->
      <!--
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="/static/assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Sarah Jhinson</h4>
                    <span>Marketing</span>
                    <p>
                      Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="/static/assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>William Anderson</h4>
                    <span>Content</span>
                    <p>
                      Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
      -->
            </div>
      
          </div>
        </section><!-- End Trainers Section -->
      
      </main><!-- End #main -->
    {% include 'footer.html' %}
  {% endblock content %}
